@import '@master/normal.css';

html.light {
	--base-100: rgba(255 255 255 / 1);
	--base-200: rgba(250 250 250 / 1);
	--base-300: rgba(244 244 244 / 1);

	--primary: rgba(0 0 0 / 1);
	--primary-foreground: rgba(255 255 255 / 1);
	--primary-hover: rgba(0 0 0 / 0.9);
	--primary-hover-foreground: rgba(255 255 255 / 1);

	--secondary: rgba(0 0 0 / 0.9);
	--secondary-foreground: rgba(255 255 255 / 1);
	--secondary-hover: rgba(0 0 0 / 0.8);
	--secondary-hover-foreground: rgba(255 255 255 / 1);

	--accent: rgba(0 0 0 / 0.8);
	--accent-foreground: rgba(255 255 255 / 1);
	--accent-hover: rgba(0 0 0 / 0.7);
	--accent-hover-foreground: rgba(255 255 255 / 1);

	--success: rgba(0 0 0 / 0.7);
	--success-foreground: rgba(255 255 255 / 1);
	--success-hover: rgba(0 0 0 / 0.6);
	--success-hover-foreground: rgba(255 255 255 / 1);

	--warning: rgba(0 0 0 / 0.6);
	--warning-foreground: rgba(255 255 255 / 1);
	--warning-hover: rgba(0 0 0 / 0.5);
	--warning-hover-foreground: rgba(255 255 255 / 1);

	--error: rgba(0 0 0 / 0.5);
	--error-foreground: rgba(255 255 255 / 1);
	--error-hover: rgba(0 0 0 / 0.4);
	--error-hover-foreground: rgba(255 255 255 / 1);

	--info: rgba(0 0 0 / 0.4);
	--info-foreground: rgba(255 255 255 / 1);
	--info-hover: rgba(0 0 0 / 0.3);
	--info-hover-foreground: rgba(255 255 255 / 1);
}

html.dark {
	--base-100: rgba(21 21 21 / 1);
	--base-200: rgba(26 26 26 / 1);
	--base-300: rgba(32 32 32 / 1);

	--primary: rgba(255 255 255 / 1);
	--primary-foreground: rgba(0 0 0 / 1);
	--primary-hover: rgba(255 255 255 / 0.9);
	--primary-hover-foreground: rgba(0 0 0 / 0.9);

	--secondary: rgba(0 0 0 / 0.9);
	--secondary-foreground: rgba(255 255 255 / 1);
	--secondary-hover: rgba(0 0 0 / 0.8);
	--secondary-hover-foreground: rgba(255 255 255 / 1);

	--accent: rgba(0 0 0 / 0.8);
	--accent-foreground: rgba(255 255 255 / 1);
	--accent-hover: rgba(0 0 0 / 0.7);
	--accent-hover-foreground: rgba(255 255 255 / 1);

	--success: rgba(0 0 0 / 0.7);
	--success-foreground: rgba(255 255 255 / 1);
	--success-hover: rgba(0 0 0 / 0.6);
	--success-hover-foreground: rgba(255 255 255 / 1);

	--warning: rgba(0 0 0 / 0.6);
	--warning-foreground: rgba(255 255 255 / 1);
	--warning-hover: rgba(0 0 0 / 0.5);
	--warning-hover-foreground: rgba(255 255 255 / 1);

	--error: rgba(0 0 0 / 0.5);
	--error-foreground: rgba(255 255 255 / 1);
	--error-hover: rgba(0 0 0 / 0.4);
	--error-hover-foreground: rgba(255 255 255 / 1);

	--info: rgba(0 0 0 / 0.4);
	--info-foreground: rgba(255 255 255 / 1);
	--info-hover: rgba(0 0 0 / 0.3);
	--info-hover-foreground: rgba(255 255 255 / 1);
}
